{% extends "layout.html" %}
{% block content %}
<h2>Gestión de Clientes</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    {% for c in clientes %}
    <tr>
        <td>{{ c['id'] }}</td>
        <td>{{ c['nombre'] }}</td>
        <td>{{ c['estado'] }}</td>
        <td>
            {% if c['estado'] == 'Activo' %}
                <a href="{{ url_for('cortar', id=c['id']) }}" class="btn danger">Cortar</a>
            {% else %}
                <a href="{{ url_for('activar', id=c['id']) }}" class="btn success">Activar</a>
            {% endif %}
            <a href="{{ url_for('borrar_cliente', id=c['id']) }}" class="btn delete">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}


